.karmaCounter > * + * {
  padding: 0 0 0 4px;
}

.karmaValue {
  margin-left: 4px;
  color: var(--greyC4);
}

.down {
  margin-left: 4px;
}

svg.down {
  transform: rotate(180deg);
}

@media all and (min-width: 1024px) {
  .karmaCounter {
    display: flex;
    flex-direction: column;
    margin-left: 73px;
  }

  .karmaValue {
    margin: 0;
    padding: 7px 0;
  }

  .down {
    margin: 0;
    padding: 0;
  }
}