.metaData {
    display: flex;
    align-items: center;
}

.userLink {
    display: flex;
    align-items: center;
}

.avatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

.userName {
    color: var(--orange);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    margin-right: 5px;
}

.createdAt, .createdAt * {
    color: var(--grey99);
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    margin-right: 5px;
}

@media (max-width: 1024px) {
    .metaData {
        margin-bottom: 0;
    }

    .publishedLabel {
        display: none;
    }
}

@media (min-width: 1024px) {
    .metaData {
        flex-direction: row-reverse;
        justify-content: flex-end;
        margin-bottom: 10px;
    }

    .userLink:hover a {
        text-decoration: underline;
    }

    .userName {
        position: relative;
        z-index: 1;
    }

    .createdAt, .createdAt * {
        display: flex;
    }

    .publishedLabel {
        display: block;
    }
}