.textContent {
    display: flex;
}

.metaData {
    display: flex;
    flex-flow: row nowrap;
    flex-direction: column-reverse;
    align-items: start;
    font-size: 10px;
    line-height: 12px;
}

.avatar {
    border-radius: 20px;
    width: 20px;
    height: 20px;
    margin: 0 7px 0 0;
}

.username {
    color: var(--orange);
}

.userLink {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    height: 20px;
    padding: 0 6px 0 0;
}

.createdAt,
.createdAt * {
    color: var(--grey99);
}

.publishedLabel {
    display: block;
}

@media (max-width: 1024px) {
    .textContent {
        flex-direction: column;
        margin: 0 20px;
    }
}

@media (min-width: 1024px) {
    .textContent {
        flex-direction: column-reverse;
        margin: 0 0 0 40px;
        justify-content: flex-end;
        min-width: 540px;
        order: 2;
        width: auto;
        max-width: 900px;
    }
}
