.textContent {
  display: flex;
}

@media (max-width: 1024px) {
  .textContent {
    flex-direction: column;
    margin: 0 20px;
  }
}

@media (min-width: 1024px) {
  .textContent {
    flex-direction: column-reverse;
    margin: 0 0 0 40px;
    justify-content: flex-end;
    min-width: 540px;
    order: 2;
    width: auto;
    max-width: 900px;
  }
}
