.preview {
    display: flex;
    max-height: 178px;
}

@media (max-width: 1024px) {
    .preview {
        margin-left: 0;
    }

    .previewImg {
        width: 100%;
        object-fit: contain;
    }
}

@media (min-width: 1024px) {
    .preview {
        margin-left: 40px;
        align-self: center;
    }

    .previewImg {
        width: 190px;
        height: 105px;
        border-radius: 2%;
        order: 1;
        object-fit: cover;
    }
}
