.card {
  background-color: var(--white);
  border-radius: 7px;
  position: relative;
}

.card > * {
  flex: 1 1 100%;
}

@media (max-width: 1024px) {
  .card {
    padding: 22px 0 0 0;
    margin-bottom: 15px;
  }
}

@media (min-width: 1024px) {
  .card {
    margin-bottom: 42px;
    display: flex;
  }
  .card:hover,
  .card:focus-within {
    outline: 1px solid var(--greyD9);
  }
  .card:hover h2 a,
  .card:focus-within h2 a {
    color: var(--orange);
  }
}
