.card {
  position: relative;
  background-color: var(--white);
  border-radius: 7px;
  display: flex;
  flex-flow: row wrap;
}

.card > * .textContent > * {
  flex: 1 1 100%;
}

@media all and (min-width: 1024px) {
  .card {
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    padding: 0 40px;
    height: 139px;
    flex-flow: unset;
  }
}