.karmaValue {
    font-style: normal;
    font-weight: 500;
}

svg.down {
    transform: rotate(180deg);
}

@media (max-width: 1024px) {
    .karmaValue {
        margin: 0 5px;
        color: var(--greyC4);
        font-size: 12px;
        line-height: 14px;
    }
}

@media (min-width: 1024px) {
    .karmaCounter {
        display: flex;
        flex-direction: column;
    }

    .karmaCounter > button.up:hover > svg > path {
        fill: var(--green);
    }

    .karmaCounter > button.down:hover > svg > path {
        fill: var(--orange);
    }

    .karmaValue {
        margin: 7px 0;
        color: var(--black);
        font-size: 14px;
        line-height: 16px;
    }
}
