@media all and (min-width: 1024px) {
  .cardList {
    padding: 29px 0;
    cursor: pointer;
  }

  .buttonLoad {
    background: #cc6633;
    border-radius: 0px 0px 3px 0px;
    width: 220px;
    height: 50px;
    color: white;
    margin: 0;
    padding: 0;
    display: block;
    margin: 0 auto;
    cursor: pointer;
  }
}
